/* Application-wide Styles */
h1 {
    color: #104455;
    font-family: "Courier New", Courier, monospace;
    font-size: 250%;
    text-align: center;
    
  }
  h2, h3 {
    color: #444;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
  }
  body {
    
    margin: 2em;
    
    
  }
  body, input[type="text"], button {
    color: #333;
    font-family: "Courier New", Courier, monospace;
    
    
  }

  .button_heros{
    background-color: #0a3849;
    border-radius: 5px;
    padding: 8.3px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 15%;
    margin: .5rem auto;
    box-sizing: border-box;
    border-color: #73cbe9;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    

    margin: 0;
    position: absolute;
    top: 20%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }

  .button_dashboard{
    background-color: #0a3849;
    border-radius: 5px;
    padding: 8.3px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 15%;
    margin: .5rem auto;
    box-sizing: border-box;
    border-color: #73cbe9;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    

    margin: 0;
    position: absolute;
    top: 20%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }



  a:hover {
    background-color: rgb(38, 73, 85);
  }




  /* everywhere else */
  * {
    font-family: "Courier New", Courier, monospace;
    
  }