/* Application-wide Styles */


h1 {
    color: #104455;
    font-family: "Courier New", Courier, monospace;
    font-size: 250%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(82, 208, 193);
    
  }
  h2, h3 {
    color: #444;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
  }

  
  body, input[type="text"], button {
    color: #333;
    font-family: "Courier New", Courier, monospace;
  }

  .align_buttons{
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
 
  }

  a {
    background-color: #0a3849;
    border-radius: 4px;
    padding: .6rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 10px;
    margin: .8rem;
    box-sizing: border-box;
    font-size: 14px;
    
    /* flexbox */
    order: 0;
    flex: 1 2 auto;
    align-self: auto;
    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }





  /* .button_heros{

    background-color: #0a3849;
    border-radius: 5px;
    padding: 8.3px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 15%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 52%;


  }

  .button_dashboard{

    background-color: #0a3849;
    border-radius: 5px;
    padding: 8.3px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 15%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 33%;
    position: relative;
    top: 34px;
    


  } */



  a:hover {
    background-color: rgb(38, 73, 85);
  }

  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
      
    }


  }
  



  /* everywhere else */
  * {
    font-family: "Courier New", Courier, monospace;
    
  }