*{
  font-family: 'Courier New', Courier, monospace;
}

h3{
  text-align: center;
  position: relative;
  top: 70px;
  margin: 30px;

}

.heroes-menu {
  padding: 25px;
  margin: auto;
  max-width: 1000px;
  background-color: #f2f2f2;
  border-radius:10px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 35px;
}

input {
    padding: .2rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px; 
    border-color: grey;
    border-width: 0.3px;
  }

  .propreties_heroes{
    
    list-style-type: none;
    width: 30em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
    font-size: 14px;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    

  }



  .id{
    font-family: 'Courier New', Courier, monospace;

  }

  .propreties_heroes li{
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    font-family: 'Courier New', Courier, monospace;
  }
  




label {
  color: #435960;
  font-weight: bold;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.save_btn{
  background-color: rgb(82, 208, 193);
  color: white;
  border: solid rgb(82, 208, 193) ;
  padding: 5px;
  margin-left: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 13px;
 
}

.goback_btn{
  background-color: #0a3849;
  color: white;
  border: solid #0a3849;
  padding: 5px;
  margin-left: 80px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 13px;
}

.goback_btn:hover{
  background-color: #497180;
  color: white;
  border: solid #497180;



}

.save_btn:hover{
  background-color: #7dc0ad;
  color: white;
  border: solid #7dc0ad;

}



    



  