*{
  font-family: 'Courier New', Courier, monospace;
}

h2{
  text-align: center;
  position: relative;
  top: 130px;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 19em;
  margin-top: 170px;
  margin-left:auto;
  margin-right:auto;
  

  

}






.heroes ul{
  text-align:center;
  width:50px;
  margin-left:auto;
  margin-right:auto;
}

.heroes li {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  

}
.heroes li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.heroes li.selected {
  background-color: #73cbe9;
  color: white;
}
.heroes li.selected:hover {
  background-color: #d5edf5;
  color: white;
}
.heroes li.selected:active {
  background-color: black;
  color: white;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#73cbe9;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

  
  input {
    padding: .2rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px; 
    border-color: grey;
    border-width: 0.3px;
  }

  .propreties_heroes{
    
    list-style-type: none;
    padding: 0;
    width: 30em;

  }

  .propreties_heroes li{
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    
  
  }

  a{
    text-decoration: none;
  }