*{
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    text-align: center;
    position: relative;
    top: 70px;
    color: rgb(160, 160, 160);
  }

  mat-paginator{
    color: grey;
    min-width: 150px;
    max-width: 500px;
    margin: auto;
    padding: 13px;
    
  }
  
  .heroes-menu {
    padding: 25px;
    margin: auto;
    max-width: 1000px;
    background-color: #f2f2f2;
    border-radius:10px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  a {
    background-color: #73cbe9;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
    font-size: 14px;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-top: 35px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: rgb(149, 181, 204);
  }